<form action="/ajax/save_file" method="post" class="text-align:center">
    {% raw xsrf_form_html() %}
    <input type="hidden" name="file_path" value="{{ data ['file_path'] }}"/>
    <input type="hidden" name="server_id" value=" {{ data ['server_id'] }} "/>
    {{ _('Server ID:') }}  {{ data ['server_id'] }}
    <textarea name="file_contents" rows="20" cols="90">{{ data['file_data'] }}</textarea><br />
    <div class="row">
        <div class="col-6">
            <a class="btn-danger btn" onclick="bootbox.hideAll()">{{ _('Cancel') }}</a>
        </div>
        <div class="col-6 float-right text-right">
            <button type="submit" class="btn btn-success">
        <i class="far fa-save" aria-hidden="true"></i> {{ _('Save File') }}
    </button>
        </div>
    </div>


</form>
