{% extends ../base.html %}

{% block title %}Crafty Controller - Configuration{% end %}

{% block content %}

<section class="content-header">
  <h1>
    Server Config
    <small>Configure Your Server</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Configuration</li>
  </ol>
</section>


<section class="content">
    <div class="row">
        <div class="col-md-6">
          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Crafty Config</a></li>
              <li><a href="#tab_2" data-toggle="tab">Backups</a></li>
              <li><a href="#tab_3" data-toggle="tab">MC Server</a></li>

            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                    <form role="form" method="post">
                        {% raw xsrf_form_html() %}
                        <input type="hidden" name="config_type" value="crafty_settings"/>

                        <div class="box">
                            <div class="box-header with-border">
                              <h3 class="box-title">
                                  Crafty Config
                              </h3>
                            </div>

                            <div class="box-body">
                                <div class="form-group">
                                    <label>
                                        Historical Data Capture Interval <br />
                                        <small>How many minutes between historical data capture</small>
                                    </label>
                                    <input type="number"
                                           name="historical_interval" id="historical_interval"
                                           class="form-control" placeholder="90"
                                           value="{{ data['crafty_settings']['history_interval'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Historical Data Length <br />
                                        <small>How many days should we keep historical data</small>
                                    </label>
                                    <input type="number"
                                           name="history_max_age" id="history_max_age"
                                           class="form-control" placeholder="2"
                                           value="{{ data['crafty_settings']['history_max_age'] }}"
                                    />
                                </div>


                            </div>

                            <div class="box-footer">
                                <a href="/admin/config" class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-success pull-right">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>


              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">

              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_3">
                    <form role="form" method="post">
                        {% raw xsrf_form_html() %}
                        <input type="hidden" name="config_type" value="mc_settings"/>

                        <div class="box">
                            <div class="box-header with-border">
                              <h3 class="box-title">
                                  Minecraft Server Config
                              </h3>
                            </div>

                            <div class="box-body">
                                <div class="form-group">
                                    <label>
                                        Server Path <br />
                                        <small>What folder is your server in? (example: C:\minecraft\server)</small>
                                    </label>
                                    <input type="text"
                                           name="server_path" id="server_path"
                                           class="form-control" placeholder="Server Path Here"
                                           value="{{ data['mc_settings']['server_path'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Server Jar <br />
                                        <small>What is your jar filename? (example: paper.jar)</small>
                                    </label>
                                    <input type="text"
                                           name="server_jar" id="server_jar"
                                           class="form-control" placeholder="Server Jar Here"
                                           value="{{ data['mc_settings']['server_jar'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Server Max Memory <br />
                                        <small>Maximum Memory To Use in MB? (example: 2048)</small>
                                    </label>
                                    <input type="number"
                                           name="memory_max" id="memory_max"
                                           class="form-control" placeholder="Server Max Memory"
                                           value="{{ data['mc_settings']['memory_max'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Server Min Memory <br />
                                        <small>Minimum Memory To Use in MB? (example: 1024)</small>
                                    </label>
                                    <input type="number"
                                           name="memory_min" id="memory_min"
                                           class="form-control" placeholder="Server Min Memory"
                                           value="{{ data['mc_settings']['memory_min'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        Pre Arguments <br />
                                        <small>Additional Args? (arguments to add after the memory arguments of server command)</small>
                                    </label>
                                    <input type="text"
                                           name="pre_args" id="pre_args"
                                           class="form-control" placeholder="Arguments after memory arguments"
                                           value="{{ data['mc_settings']['pre_args'] }}"
                                    />
                                </div>

                                <div class="form-group">
                                    <label>
                                        After Arguments <br />
                                        <small>Additional Args? (arguments to add at the end of server command)</small>
                                    </label>
                                    <input type="text"
                                           name="additional_args" id="additional_args"
                                           class="form-control" placeholder="Extra Arguments"
                                           value="{{ data['mc_settings']['additional_args'] }}"
                                    />
                                </div>


                                <!-- radio -->
                                <div class="form-group">
                                    <b>Auto Start Server On Program Launch?</b>
                                    <div class="radio">
                                        <label>
                                            <input type="radio"
                                                   name="auto_start_server"
                                                   value="1"
                                                    {% if data['mc_settings']['auto_start_server'] %} checked {% end %}
                                                    />
                                            Yes - Start the Minecraft Server on program launch.
                                        </label>
                                    </div>

                                    <div class="radio">
                                        <label>
                                            <input type="radio"
                                                   name="auto_start_server"
                                                   value="0"
                                                    {% if data['mc_settings']['auto_start_server'] == False %} checked {% end %}
                                                    />
                                            No - I will start the server myself.
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>
                                        Auto Start Delay In Seconds<br />
                                        <small>Has no effect if auto start is turned off (Example: 10)</small>
                                    </label>
                                    <input type="number"
                                           name="auto_start_delay" id="auto_start_delay"
                                           class="form-control" placeholder="Autostart Delay"
                                           value="{{ data['mc_settings']['auto_start_delay'] }}"
                                    />
                                </div>
                            </div>

                            <div class="box-footer">
                                <a href="/admin/config" class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-success pull-right">
                                    <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>

        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-cog"></i>

              <h3 class="box-title">Your Current Config</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                The server will be launched using this string:<br />
                java -Xms{{ data['mc_settings']['memory_min'] }}M
                -Xmx{{ data['mc_settings']['memory_max'] }}M
                {{ data['mc_settings']['pre_args'] }}
                -jar {{ data['mc_settings']['server_path'] }}/{{ data['mc_settings']['server_jar'] }} nogui
                {{ data['mc_settings']['additional_args'] }}

                <hr>
                {% if data['mc_settings']['auto_start_server'] %}
                    The server is set to autostart
                {% else %}
                    The server is <b>NOT</b> set to autostart
                {% end %}

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>


    </div>
</section>



<!--
{{ data }}
-->




{% end %}

{% block js-script %}

<script>
    function show_saved(){
        var dialog = bootbox.dialog({
            message: "Settings Saved",
            className: 'modal modal-success fade-in',
            okButton: false
        });
    }

    function hide_modal(){
        bootbox.hideAll()
    }

    $( document ).ready(function() {
        console.log( "ready!" );

        //adding quick/dirty padding
        $('input').css("margin-bottom",'10px')

        {% if data['saved'] %}
            show_saved()
            setTimeout(hide_modal, 1500);
        {% end %}

    });


</script>

{% end %}