{% extends ../base.html %}

{% block title %}Crafty Controller - Dashboard{% end %}

{% block meta %} <meta http-equiv="Refresh" content="60">  {% end %}

{% block content %}

<section class="content-header">
  <h1>
    Dashboard
    <small>Server Status</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
<!-- Info boxes -->
  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-cog" aria-hidden="true"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Host CPU Usage</span>
          <span class="info-box-number"> {{ data['server_data']['cpu_usage'] }} <small>%</small></span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red"><i class="fa fa-line-chart" aria-hidden="true"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Host RAM Usage</span>
          <span class="info-box-number"> {{ data['server_data']['mem_percent'] }}<small>%</small></span>
          <span class="info-box-number"> {{ data['server_data']['mem_usage'] }} / {{ data['server_data']['mem_total'] }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green"><i class="fa fa-hdd-o" aria-hidden="true"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Host Disk Usage</span>
          <span class="info-box-number">
             {{ data['server_data']['disk_percent'] }}<small>%</small>
              <br />
             {{ data['server_data']['disk_usage'] }} / {{ data['server_data']['disk_total'] }}
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow"><i class="fa fa-users" aria-hidden="true"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Players</span>
          <span class="info-box-number">
              {{ data['server_data']['online_stats']['online']}} /
              {{ data['server_data']['online_stats']['max']}}
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

<div class="row">

  <div class="col-xs-3">
    <div class="box box-widget widget-user-2">
      <div class="widget-user-header bg-green">
        <div class="widget-user-image">
          <img src="/static/images/spigot.png" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">Crafty Survival</h3>
        <h5 class="widget-user-desc">Currently Running</h5>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li><a href="#">CPU <span class="pull-right badge bg-blue">12%</span></a></li>
          <li><a href="#">Mem <span class="pull-right badge bg-red">2GB</span></a></li>
          <li><a href="#">Players <span class="pull-right badge bg-yellow">12</span></a></li>
          <li><a href="#">Autostart <span class="pull-right badge bg-blue">Enabled</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="box box-widget widget-user-2">
      <div class="widget-user-header bg-green">
        <div class="widget-user-image">
          <img src="/static/images/forge.jpeg" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">Forge Creative</h3>
        <h5 class="widget-user-desc">Currently Running</h5>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li><a href="#">CPU <span class="pull-right badge bg-blue">12%</span></a></li>
          <li><a href="#">Mem <span class="pull-right badge bg-red">2GB</span></a></li>
          <li><a href="#">Players <span class="pull-right badge bg-yellow">12</span></a></li>
          <li><a href="#">Autostart <span class="pull-right badge bg-blue">Enabled</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="box box-widget widget-user-2">
      <div class="widget-user-header bg-red">
        <div class="widget-user-image">
          <img src="/static/images/vanilla.png" alt="User Avatar">
        </div>
        <h3 class="widget-user-username">Vanilla Creative</h3>
        <h5 class="widget-user-desc">Currently NOT Running</h5>
      </div>
      <div class="box-footer no-padding">
        <ul class="nav nav-stacked">
          <li><a href="#">CPU <span class="pull-right badge bg-blue">12%</span></a></li>
          <li><a href="#">Mem <span class="pull-right badge bg-red">2GB</span></a></li>
          <li><a href="#">Players <span class="pull-right badge bg-yellow">12</span></a></li>
          <li><a href="#">Autostart <span class="pull-right badge bg-blue">Enabled</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    <div class="box box-info collapsed-box box-solid">
            <div class="box-header with-border">
              <h3 class="box-title">Create New Server</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <form action="/setup/step1" method="post">

                <div class="form-group has-feedback">
                  <label>
                    Server Name - <small>Example Survival Server</small>
                  </label>
                  <input type="text" class="form-control" placeholder="Server Name" name="server_name" value="My New Server">
                  <span class="glyphicon glyphicon-file form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                  <label>
                      Server Path - <small>Example /var/opt/minecraft/server</small>
                    </label>
                    <input type="text" class="form-control" placeholder="Server Path" name="server_path"
                           value="/var/opt/minecraft/server">
                    <span class="glyphicon glyphicon-folder-open form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                  <label>
                    Server Jar - <small>Example paper.jar</small>
                  </label>
                  <input type="text" class="form-control" placeholder="Server Jar" name="server_jar" value="paperclip.jar">
                  <span class="glyphicon glyphicon-file form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                  <label>
                    Server Max Memory in MB <br /><small>Example: 2048 </small>
                  </label>
                  <input type="number" class="form-control" placeholder="Server Jar" name="max_mem" value="2048">
                </div>

                <div class="form-group has-feedback">
                  <label>
                    Server Min Memory in MB <br /><small>Example: 1024 </small>
                  </label>
                  <input type="number" class="form-control" placeholder="Server Jar" name="min_mem" value="1024">
                </div>

                <div class="form-group has-feedback">
                  <label>
                    Auto Start Server after 10 Seconds:
                    <input type="checkbox"  name="auto_start" id="auto_start" >

                  </label>

                </div>

                <div class="row">
                  <div class="col-xs-6">

                  </div>
                  <!-- /.col -->
                  <div class="col-xs-6">
                    <button type="submit" onclick="show_warning()" class="btn btn-success btn-block btn-flat"> Create New Server</button>
                  </div>
                  <!-- /.col -->
                </div>
                  {% raw xsrf_form_html() %}

              </form>
            </div>
            <!-- /.box-body -->
          </div>


  </div>



</div>



</section>
<!--
{{ data['server_data'] }}
-->

{% end %}

{% block js-script %}

<script>






</script>

{% end %}