{% extends ../base.html %}

{% block title %}Crafty Controller - File Management{% end %}

{% block content %}

<section class="content-header">
  <h1>
    File Management
    <small>
       Be careful here.
    </small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">File Management</li>
  </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Current Directory: {{ data['pwd'] }}
                  </h3>
                </div>
                <div class="box-body">
                  <form method="post" id="browser">
                      {% raw xsrf_form_html() %}
                      <input type="hidden" id="next_dir" name="next_dir" value="" />

                      {% if data['parent'] %}
                        <a onclick="sub_form('{{ data['parent'] }}')">
                            <i class="fa fa-level-up" aria-hidden="true"></i>{{ data['parent'] }}
                        </a>
                        <br />
                      {% end %}

                      {% for f in data['listing'] %}
                        {% if f['type'] == "file" %}
                            <i class="fa fa-file-o" aria-hidden="true"></i> {{ f['name'] }}<br />
                        {% else %}
                            <a onclick="sub_form('{{ f['name'] }}')">
                                <i class="fa fa-folder-o" aria-hidden="true"></i> {{ f['name'] }}
                            </a>
                            <br />
                        {% end %}
                      {% end %}


                  </form>
                </div>

              </div>
        </div>
        <div class="col-md-6">
          <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-server" aria-hidden="true"></i>

              <h3 class="box-title">FTP Server Control: Server is currently <span class="text-danger">Down </span></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <a href="/admin/commands?command=server_start"
                           onclick="delay()"
                            class="btn btn-app {% if data['server_data']['server_running'] %} disabled {% end %}">
                            <i class="fa fa-play"></i> Start FTP Server
                        </a>
                        <a  href="/admin/commands?command=server_stop"
                            onclick="delay()"
                            class="btn btn-app {% if not data['server_data']['server_running'] %} disabled {% end %}">
                            <i class="fa fa-stop"></i> Stop FTP Server
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <b>Your Credentials for this session are:</b><br />
                        Username: Admin<br />
                        Password: ol2hj5r0v9awq!<br />
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
    </div>


</section>

<!--
{{ data }}
-->




{% end %}

{% block js-script %}
<script>
    function sub_form(dir){
        $('#next_dir').val(dir);
        document.getElementById('browser').submit();
    }


</script>


{% end %}