{% extends ../base.html %}

{% block title %}{{ _('Crafty Controller - Server Control') }}{% end %}

{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-md-6">      
        <h1 class="m-0">
            {{ _('Server Details') }}
            <small style="font-size:.45em;">{{ _('I demand to see the things!') }}</small>
        </h1>
      </div>
      <div class="col-md-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> {{ _('Home') }}</a></li>
          <li class="active breadcrumb-item">{{ _('Server Control') }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card card-info card-outline">
                <div class="card-header">
                  <h3 class="card-title"><i class="far fa-id-card" aria-hidden="true"></i>
                      {{ _('Server Data') }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="" style="">
                        <table class="table table-striped">
                            <tr>
                                <td width="20%">{{ _('Server') }}</td>
                                <td>{{ _('ID:') }} {{ data['mc_settings']['id'] }} - {{ data['mc_settings']['server_name'] }}</td>
                            </tr>

                            <tr>
                                <td>{{ _('Auto Start Details') }}</td>
                                <td>
                                    {{ _('Auto Start On:') }} {{ data['mc_settings']['auto_start_server'] }}<br />
                                    {{ _('Auto Start Delay:') }} {{ data['mc_settings']['auto_start_delay'] }}<br />
                                    {{ _('Auto Start Priority:') }} {{ data['mc_settings']['auto_start_priority'] }}<br />
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _('World Name') }}</td>
                                <td>{{ data['world_info']['world_name'] }} </td>
                            </tr>
                            <tr>
                                <td>{{ _('World Size') }}</td>
                                <td>{{ data['world_info']['world_size'] }}</td>
                            </tr>
                            <tr>
                                <td>{{ _('Update Jar') }}</td>
                                <td>
                                    {% if (data['mc_settings']['jar_url'] == "") %}
                                        {{ _('No update jar URL specified.') }} <br />
                                        {{ _('Please add in') }} <a href="server_config?id={{ data['mc_settings']['id'] }}">{{ _('server config') }}</a>
                                    {% else %}
                                        {{ data['mc_settings']['jar_url'] }}
                                    {% end %}
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-info card-outline">
                <div class="card-header">
                  <h3 class="card-title"><i class="fas fa-bolt" aria-hidden="true"></i>
                      {{ _('Server Actions') }}</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="server_update">
                        {% if (data['mc_settings']['jar_url'] == "") %}                            
                            <a href="" class="btn btn-app disabled" onclick="update()" disabled="true">
                                <i class="fas fa-cloud-download-alt" aria-hidden="true"></i>
                                {{ _('Update Server Jar') }}
                            </a>
                            <a href="" class="btn btn-app disabled" onclick="update()" disabled="true">
                                <i class="fas fa-undo" aria-hidden="true"></i>
                                {{ _('Revert Jar Update') }}
                            </a>
                        {% else %}                          
                            <a href="" class="btn btn-app" onclick="update()" >
                                <i class="fas fa-cloud-download-alt" aria-hidden="true"></i>
                                {{ _('Update Server Jar') }}
                            </a>
                            <a href="" class="btn btn-app" onclick="update()">
                                <i class="fas fa-undo" aria-hidden="true"></i>
                                {{ _('Revert Jar Update') }}
                            </a>
                        {% end %}
                        <a class="btn btn-app" onclick="destroy_world()">
                            <i class="fas fa-bomb" aria-hidden="true"></i>
                            {{ _('Start New World') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="card card-info card-outline">
                <div class="card-header">
                  <h3 class="card-title"><i class="fas fa-history" aria-hidden="true"></i>
                      {{ _('Historical Data') }}
                  </h3>
                    <br />
                    <small>{{ _('Missing Data below?') }} <a href="config">{{ _('Check your history interval config') }}</a> </small>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div id="cpu_history" style="height: 250px;"></div>
                </div>
            </div>
        </div>


        <div class="col-lg-6">
            <div class="card card-info card-outline">
            <div class="card-header">
              <h3 class="card-title"><i class="fas fa-users" aria-hidden="true"></i>
                  {{ _('Current Players') }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="table-responsive">
                <ul>
                    {% if data['players_online'] > 0 %}
                        {% for p in list(data['players']) %}
                            <li>{{ p }}</li>
                        {% end %}
                    {% else %}
                        {{ _('No Players Online') }}
                    {% end %}
                </ul>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->

          </div>
        </div>

    </div>




</section>


{% end %}

{% block js-script %}

<script>
    function delay(time='5-10'){
        bootbox.alert({
            message: "Please give the server " + time + " seconds to respond to your command",
            backdrop: true
        });
    }

    function update(){
        send_update_command()
        bootbox.alert({
            message: "The update process has started in the background. Feel free to watch the process on the logs page.",
            backdrop: true
        });
        setTimeout(function(){ hide_modals(); }, 3000);

    }

    function revert(){
        send_revert_command()
        bootbox.alert({
            message: "The revert process has started in the background. Feel free to watch the process on the logs page.",
            backdrop: true
        });
        setTimeout(function(){ hide_modals(); }, 3000);
    }

    function destroy_world(){
        bootbox.confirm({
            message: "Do you really want to destroy this world and start over?!",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-danger'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-success'
                }
            },
            callback: function (result) {
                if (result){
                    send_destroy_command()
                }
            }
        });
    }

    function send_update_command(){
        $.ajax({
            type: 'GET',
            url: '/admin/commands?command=update_jar&id={{ data['mc_settings']['id'] }}',
            dataType: 'text',
        });
    }

    function send_revert_command(){
        $.ajax({
            type: 'GET',
            url: '/admin/commands?command=revert_jar&id={{ data['mc_settings']['id'] }}',
            dataType: 'text',
        });
    }

    function send_destroy_command(){
        $.ajax({
            type: 'GET',
            url: '/admin/commands?command=destroy_world&id={{ data['mc_settings']['id'] }}',
            dataType: 'text',
        });
    }

    function hide_modals(){
        bootbox.hideAll()
    }

    $( document ).ready(function() {
        console.log( "ready!" );

        $.ajax({
            url: "/ajax/history?server_id={{ data['mc_settings']['id'] }}",
            method: "get",
            dataType: "json",
            success: function(data) {
                console.log(data)
                do_history(data)
            }
        });
    });

    function do_history(data){
        new Morris.Line({
          // ID of the element in which to draw the chart.
          element: 'cpu_history',
          // Chart data records -- each entry in this array corresponds to a point on
          // the chart.
          data: data,
          // The name of the data record attribute that contains x-values.
          xkey: 'time',
          // A list of names of data record attributes that contain y-values.
          ykeys: ['cpu','mem','players'],
          // Labels for the ykeys -- will be displayed when you hover over the
          // chart.
          labels: ['CPU', 'MEM','Players'],
          parseTime: false
        });
    }



</script>

{% end %}